<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-opencv-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>OpencvPlugin</name>
	<js-module name="OpencvPlugin" src="www/OpencvPlugin.js">
		<clobbers target="OpencvPlugin"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="OpencvPlugin">
				<param name="android-package" value="com.mycompany.plugin.OpencvPlugin"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/com/mycompany/plugin/OpencvPlugin.java" target-dir="src/com/mycompany/plugin"/>

		<!-- 添加opencv aar编译 -->
		<framework src="src/android/buildopencv.gradle" custom="true" type="gradleReference" />
        <resource-file src="opencvlibs/opencv4531.aar" target="libs/opencv4531.aar" /> <!--这个目录和plugin添加后android工程的目录一致-->

		<!--启用全部目录-->
		<!--<preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />-->


	</platform>
</plugin>